<!DOCTYPE html>
<html>
<head>
<link href="css/bootstrap.css" rel="stylesheet">
</head>
<style>
.container {
    margin: 10px;
    width: 1350px;
    height: 150px;
    line-height: 115px;
    text-align: center;
    border: 1px solid white;
}
.resize_fit_center {
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}
</style>
<body>
<div class='container'>
    <img class='resize_fit_center'
      src="https://sonarplusd.com/system/attached_images/21873/medium/spotify.jpg?1522923367" />
</div>
<center><h1><b><font color=3AC970>Details about Currently playing track</font></b></h1>
<table>


        <tr>
            <td><h2><b><font color=34A55F>Album Name</font></b></h2></td>
            <td>&nbsp&nbsp {{ result["item"]["album"]["name"]}} </td>

        </tr>
<tr>
            <td><h2><b><font color=34A55F>Release Date</font></b></h2></td>
            <td>&nbsp&nbsp {{ result["item"]["album"]["release_date"]}} </td>

        </tr>
<tr>
            <td><h2><b><font color=34A55F>Is it Playing..??</font></b></h2></td>
            <td>&nbsp&nbsp {{ result["is_playing"]}}</td>
 </tr>

    </table>
<h2><b><font color=34A55F>Artist Names</font></b></h2>
<table>
{% for t in result["item"]["artists"] %}
<tr>

            <td>&nbsp&nbsp {{ t["name"]}}</td>

        </tr>
{% endfor %}
</table>
</center>
</body>
</html>